body{
    background-color: rgb(20, 19, 19);
    color: gold;
}
.contentbox{
    margin-left: 10px;
}
.textbox{
    margin-bottom: 10px;
}
ul{
    list-style:none;
}
ul button{
    margin-left: 10px;
    background-color: rgb(20, 19, 19);
    color: gold;
    border: none;
}